In [ ]:
import pandas as pd
df = pd.read_csv("./survey_results_public.csv")
df.columns=[x.lower() for x in df.columns]

In [ ]:
schema = pd.read_csv("./survey_results_schema.csv")
schema

In [ ]:
country = ['India',"Afghanistan"]
filt = (df['hobbyist']=='Yes') & (df['country'].isin(country))
# filt=df['LanguageWorkedWith'].str.contains("Python",na=False)

In [ ]:

 df.loc[filt & df['languageworkedwith'].str.contains("Python",na=False),['country']]

In [ ]:
def lowerHobbylist(hobby):
    return hobby.lower()
    
df['hobbyist'].apply(lowerHobbylist)
df['hobbyist'].replace({'Yes':True,"No":False   })

In [ ]:
# schema.drop(index=range(85,91))
df.info()

In [ ]:
# df[['age','convertedcomp']].sort_values(by=["convertedcomp",'age'],ascending=[False,False],inplace=True)
df.nlargest(10,'convertedcomp')

In [ ]:
countryGroup = df.groupby(['country'])
countryGroup['convertedcomp'].value_counts().loc['India']

In [ ]:
countryGroup['convertedcomp'].median().loc['India']

In [ ]:
countryGroup['convertedcomp'].agg(['median','mean','max','min'])

In [ ]:
countryUsePython= countryGroup['languageworkedwith'].apply(lambda x: x.str.contains("Python").sum())
countryUsePython

In [ ]:
pythonDf = pd.concat([countryUsePython,df['country'].value_counts()],axis='columns')
pythonDf.dtypes

In [ ]:
salesDataFrame = pd.read_csv("./store_sales.csv")

In [ ]:
    # salesDataFrame.drop(columns='mean',inplace=True)
    salesDataFrame[['JanBonus','Jan']].tail(10)

In [ ]:
salesDataFrame['mean']=salesDataFrame.apply('mean',axis=1)

In [26]:
# salesDataFrame
def bonusCheck(column):
    aligbile=[]
    for i in column:
        if i>=10:
            aligbile.append(True)
        else:
            aligbile.append(False)
    return aligbile

salesDataFrame['JanBonus']= bonusCheck(salesDataFrame['Jan'])
salesDataFrame

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec,mean,JanBonus
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6,14.833333,False
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19,14.500000,True
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8,15.083333,True
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11,11.250000,False
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13,13.250000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,S_96,Texas,7,10,20,20,10,15,15,21,15,7,23,22,15.416667,False
96,S_97,California,13,6,7,15,22,10,21,23,10,6,12,9,12.833333,True
97,S_98,Texas,16,9,6,14,20,13,11,10,8,22,17,22,14.000000,True
98,S_99,Arizona,18,16,9,5,12,22,11,13,21,17,19,10,14.416667,True
99,S_100,California,5,23,17,24,15,21,19,10,12,20,5,9,15.000000,False

In [114]:
import numpy as np

In [123]:
np.arange(100,0,-10)

array([100,  90,  80,  70,  60,  50,  40,  30,  20,  10])

In [132]:
np.linspace(2,12,6)

array([ 2.,  4.,  6.,  8., 10., 12.])